$MediumTurquoise : #69debd;
$MediumAquamarine : #64d7b4;
$CadetBlue1 : #4c9c83;
$MediumSeaGreen : #449883;
$CadetBlue : #4ca48a;


$light-green:#4FA48A;
$dark-green:#367562;
$light-green-alpha:rgba(79,164,138,0.3);


$purple: #66005b;