{% extends 'base.html' %}

{% block content %}

<h3>{{idea.title}}</h3> 
{% if idea.cover %}
<img src="{{ idea.cover.url }}">
{% endif %}
<p>{{idea.content|safe}}</p>
<p><i>Created by <a href="/profile/{{idea.author}}/">{{idea.author}}</a></i></p>
<p>Views: <b>{{ idea.view_qty}}</b> Likes: <b>{{ idea.like_qty}}</b></p>
<p> <a href="/like/?action=like&id={{idea.pk}}">{% if idea.is_liked %}Unlike{% else %}Like{% endif %}</a> 
{% if can_edit %}
<a href="/idea/{{idea.pk}}/edit/">Edit</a>
{% endif %}
</p>
<p>
{% if is_moderator and idea.status == 'p' %}
<a href="/like/?action=approve&id={{idea.pk}}"><font color="green">Approve</font></a>
<a href="/like/?action=decline&id={{idea.pk}}"><font color="red">Decline</font></a>
{% endif %}
</p>


{% endblock %}
