{% extends 'base.html' %}
{% block content %}
<table class="table table-striped">
    <thead>
        <tr>
        <th scope="col"></th>
        <th scope="col">User</th>
        <th scope="col">Action</th>
        <th scope="col">Idea</th>
        <th scope="col">Time</th>
        </tr>
    </thead>
    <tbody>
        {% for notification in notifications %}
        <tr>
        <th scope="row"></th>
        <td>
            <a href="/profile/{{notification.moderator.username}}/">{{notification.moderator.username}}</a>
        </td>
        <td>
            {% if notification.text == 'approved' %}
            <font color="green">{{notification.text}}</font>
            {% elif notification.text == 'declined' %} 
            <font color="red">{{notification.text}}</font>
            {% elif notification.text == 'liked' %} 
            <font color="purple">{{notification.text}}</font>
            {% endif %} 
        </td>
        <td>
            <a href="/idea/{{notification.idea.pk}}/">{{notification.idea.title}}</a>
        </td>
        <td>
            {{notification.create_date}}
        </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<nav aria-label="...">
  <ul class="pagination">
    {% for num in num_pages %}
    {% if num == current_page %}
    <li class="page-item active"><span class="page-link">{{num}}<span class="sr-only">(current)</span></span></li>
    {% else %}
    <li class="page-item"><a class="page-link" href="/notifications/?page={{num}}">{{num}}</a></li>
    {% endif %}
    {% endfor %}
  </ul>
</nav>


{% endblock %}




