{% extends 'base.html' %}
{% block content %}

<ul>
{% for notification in notifications %}
    <li>
    <a href="/profile/{{notification.moderator.username}}/">{{notification.moderator.username}}</a>
        {% if notification.text == 'approved' %}
        <font color="green">{{notification.text}}</font>
        {% elif notification.text == 'declined' %} 
        <font color="red">{{notification.text}}</font>
        {% elif notification.text == 'liked' %} 
        <font color="purple">{{notification.text}}</font>
        {% endif %} 
        your idea "<a href="/idea/{{notification.idea.pk}}/">{{notification.idea.title}}</a>"
    </li>
{% endfor %}
</ul>

{% endblock %}
