{% extends 'base.html' %}
{% block content %}
<h3>{{profile.firstname}} {{profile.lastname}}</h3>
<p>
{% if profile.is_moderator %} 
    (<i>you're moderator so you can approve ideas of other users <a href="{% url 'approvement' %}">here</a>)</i>
{% endif %}
</p>
<p>City: {{ profile.city }}</p>
<p>My biography: {{ profile.bio }}</p>
<p>My ideas:</p>
<ul>
    {% for idea in ideas %}
  <li>
    <a href="/idea/{{idea.pk}}/"> {{idea.title}}</a> is 
            {% if idea.status == 's' %} 
            <font color="darkgrey">Saved</font>
            {% elif idea.status == 'p' %}
            <font color="purple">Published</font>
            {% elif idea.status == 'a' %}   
            <font color="green">Accepted</font>
            {% else %} 
            <font color="red">Declined</font>
            {% endif %}
    </li>
    {% endfor %}
</ul> 
{% endblock %}



